h1 {
  font-size: 36px;
  margin-top: 25px;
  margin-bottom:25px;
}
.header {
  display:flex;
  flex-wrap: nowrap;
  background: #00000080;
  height: max-content;
  color: white;
  padding: 2em;
  justify-content: start;
  align-items: center;
  gap: 2.5em;
  border-radius: 0 0 25px 25px;
}
.home {
  flex-grow: 1;
  text-align:end;
}
.home > a{
  cursor: pointer;
  color: white;
  font-size: 20px;
  transition: font-weight 0.5s ease, font-size 0.5s ease;
}
.home > a > button {
  position: relative;
  width: 75px !important;
  height: 75px;
  cursor: pointer;
  color: white;
  background: #00000080;
  border-radius: 15px;
  border: none;
  width: 5em;
  font-size: 20px;
  font-family: Kanit;
  transition: background 0.5s ease, box-shadow 0.5s ease;
}
.home > a > button:hover {
  background: black;
}
.home > a > button > img {
  opacity: 50%;
  transition: opacity 0.5s ease;
}
.home > a > button:hover > img {
  opacity: 100%;
}
.home > a > button > div {
  opacity: 0.5;
  position: absolute;
  top: 15%;
  left: 15%;
  width: 50px;
  height: 50px;
  mask-image: url('home-icon.png');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  background-color: white;
  transition: opacity 0.5s ease; 
}
.home > a > button:hover > div {
  opacity: 1;
}
.semiicon {
  width: 75px;
  height: 75px;
  mask-image: url('semi-icon.png');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  background-color: white;
}
.footer {
  background: #00000080;
  height: max-content;
  color: white;
  padding: 1.5em;
  text-align:start;
  width: 100%;
  position: relative;
  bottom : 0;
  left: 0;
  box-sizing: border-box;
  margin-top:auto;
  z-index: -1;
  border-radius: 25px 25px 0 0;
}
.web {
  margin:25px;
}
body {
  background: radial-gradient(circle at center, #2b2983 0%, transparent 75%),#1a1d2a;
  background-size: cover;
  height: 100vh;
  margin: 0;
}
.title-box {
  text-align: center;
  color: white;
  background: #2b298380;
  padding-top: 0.5em;
  padding-bottom: 3em;
  padding-left:10px;
  padding-right:10px;
  border-radius: 15px;
  margin-bottom: 1em;
}
.contents-box {
  background: #2f354b80;
  border-radius: 15px;
  padding-top: 0.5em;
  padding-bottom: 2em;
  padding-left:10px;
  padding-right:10px;
  margin-top: 1em;
  margin-bottom: 1em;
  color: white;
}
.contents {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3em;
}
.contents > div > a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
.contents > div > a:hover {
  font-weight: bold;
  font-size: large;
  background-color: #ffffff40;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
}

.dft {
  font-size: medium;
  text-align: left;
  margin-top: 0.5em;
  margin-left: 1em;
}

/* indigo block */
.indigo-block {
  overflow-y: auto;
  background: #2b298380;  
  padding: 1em;
  border-radius: 15px;
  color: white;
  margin-bottom: 1em;
  transition: 0.5s;
}
.indigo-block::-webkit-scrollbar {
  background: #00000080;
  border-radius: 25px;
  width: 15px;
  height: 15px;
}
.indigo-block::-webkit-scrollbar-thumb {
  background: #596bd3;
  border-radius: 25px;
  width: 50%;
  height: 15px;
}
/* indigo block */

/* white block */
.white-block {
  overflow-y: auto;
  background: #2f354b80;
  padding: 1em;
  border-radius: 15px;
  color:white;
  margin-bottom: 1em;
  transition: 0.5s;
}
.white-block::-webkit-scrollbar {
  background: #00000080;
  border-radius: 25px;
  width: 15px;
  height: 15px;
}
.white-block::-webkit-scrollbar-thumb {
  background: #485681;
  border-radius: 25px;
  width: 50%;
  height: 15px;
}
/* white block */

.table {
  display: grid;
  gap: 0px;
}
.table > div {
  padding: 0.5em;
}
.table-l {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: auto auto;
}
.table-l > div {
  padding: 1em;
}
.bb {
  border-bottom: 1px solid #ffffff40;
}
.rb {
  border-right: 1px solid #ffffff40;
}
.bb-blue {
  border-bottom: solid 1px #ffffff40;
}
hr {
  border: none;
  border-top: solid 1px #ffffff40;
}
.indigo-block:hover, .white-block:hover {
  transform: scale(1.025);
  box-shadow: 0px 5px 5px #00000080;
}


.column {
  column-count: 2;
  column-gap: 1em;
  height: max-content;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.column > div {
  break-inside: avoid;
}
.whino {
  white-space: nowrap;
}
.whino > div {
  display: inline-block;
}
.gridio {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, max-content);
  gap: 10px;
}
.bbc {
  border-bottom: 1px solid #ffffff40;
}

/* buttons */
.buttons {
  display: flex;
  flex-wrap: nowrap;
  position: fixed;
  gap: 0px;
  inset: auto 15px 15px auto;
}
/* buttons */

/* gotop button */
.gotop {
  width: 5em;
  height: 3em;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}
.gotop:hover {
  background-color: black;
}
.uppy {
  filter: invert(1);
  opacity: 0.5;
}
.gotop:hover .uppy {
  transition: opacity 0.5s ease;  
  opacity: 1;
}
/* gotop button */

/* sectionbtn */
.sectionbtn {
  width: 5em ;
  height: 3em ;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: none;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.sectionbtn:hover {
  background-color: black;
}
.sectionbtn:focus {
  outline: none;
}
select.sectionbtn {
  color: rgba(255,255,255,0.5);
  font-family: 'Kanit', sans-serif;
  appearance: none;
  text-align: center;
  font-weight: bold;
}
select.sectionbtn:hover {
  color: white;
}
select.sectionbtn div {
  color: white;
  font-family: 'Kanit', sans-serif;
  appearance: none;
  text-align: center;
}
select.sectionbtn option {
  color: white;
  font-family: 'Kanit', sans-serif;
  background-color:black;
}
/* sectionbtn */

/* themebtn */
.themebtn {
  width: 5em ;
  height: 3em ;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  border: none;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.themebtn:hover {
  background-color: black;
}
.themeicon {
  filter: invert(1);
  opacity: 0.5;
}
.themebtn:hover .themeicon {
  transition: opacity 0.5s ease;  
  opacity: 1;
}
/* themebtn */

.bodys::-webkit-scrollbar {
  background:#1a1d2a;
  width: 15px;
  height: 15px;
}
.bodys::-webkit-scrollbar-thumb {
  background: #596bd3;;
  border-radius: 25px;
  width: 50%;
  height: 15px;
}
.struc {
  overflow-x: auto;
  overflow-y: hidden;
}
.struc::-webkit-scrollbar {
  background: rgba(0,0,0, 0.5);
  border-radius: 25px;
}
.struc::-webkit-scrollbar-thumb {
  background: #596bd3;
  border-radius: 25px;
}

html {
  scroll-behavior: smooth;
}

/* view on phone */
@media (max-width: 767px) {
  .title-box,
  .content-box {
    column-count: 1;
    column-width: auto;
  }
  .column {
    column-count: 1;
    column-width: auto;
  }
  .header > div > h1 {
    font-size: 36px !important;
  }
  .header > div > img {
    width: 50px !important;
    height: 50px !important;
  }
  .header {
    gap: 1.5em;
    height: 3em;
  }
}

/* view on ipad */
@media (min-width: 768px) and (max-width: 1024px) {
  .title-box,
  .content-box,
  .column {
    column-count: 1; }
}

/* darkth */
.web.dark {
  background-color: #070F2B;
}
/* darkth */

/* lightth */
body.light {
  background: radial-gradient(#b9b3ff80 0%, transparent 100%),#eae8ff;
}
.bb {
  border-bottom: 1px solid #2c356d40;
}
.rb {
  border-right: 1px solid #2c356d40;
}
.bb-blue {
  border-bottom: solid 1px #2c356d40;
}
hr {
  border-top: solid 1px #2c356d40;
}
body.light .title-box {
  color: #2c356d;
  background: #b9b3ff80;
}
body.light .contents-box {
  color: #2c356d;
  background: #ffffffb0;
}
body.light .contents > div > a:hover {
  background-color: #687fff40;
}
body.light .contents > div > a {
  color: #2c356d;
}

body.light .indigo-block {
  color: #2c356d;
  background: #b9b3ff80;
}
body.light .indigo-block:hover,
body.light .white-block:hover {
  transform: scale(1.025);
  box-shadow: 0px 5px 5px #9788fdb0;
}
body.light .indigo-block::-webkit-scrollbar,
body.light .white-block::-webkit-scrollbar {
  background: #ffffff80;
  border-radius: 25px;
  width: 15px;
  height: 15px;
}
body.light .indigo-block::-webkit-scrollbar-thumb {
  background: #9788fd;
  border-radius: 25px;
  width: 50%;
  height: 15px;
}
body.light .white-block::-webkit-scrollbar-thumb {
  background: #d5d3ff;
  border-radius: 25px;
  width: 50%;
  height: 15px;
}
body.light .white-block {
  color: #2c356d;
  background: #ffffffb0;
}
body.light::-webkit-scrollbar {
  background: #eae8ff;
}
body.light::-webkit-scrollbar-thumb {
  background: #9788fd;
}

body.light .gotop, body.light .themebtn {
  background-color: rgba(255,255,255,0.5);
}
body.light .gotop:hover, body.light .themebtn:hover {
  background-color: white;
}
body.light .uppy, body.light .themeicon {
  filter: invert(0);
  opacity: 0.5;
}
body.light .sectionbtn {
  background-color: rgba(255,255,255,0.5);
}
body.light .sectionbtn:hover {
  background-color: white;
}
body.light select.sectionbtn {
  color: rgba(0,0,0,0.5);
}
body.light select.sectionbtn:hover {
  color: black;
}
body.light select.sectionbtn div {
  color: black;
}
body.light select.sectionbtn option {
  color: black;
  background-color:white;
}

body.light .header, body.light .footer {
  background: #ffffff80;
  color: #2c356d;
}
body.light .home>a {
  color: #2c356d;
}
body.light .semiicon {
  background-color: #2c356d;
}
body.light .home > a > button > div {
  background-color: #2c356d;
}
body.light .home > a{
  color: #2c356d;
}
body.light .home > a > button {
  color: #2c356d;
  background: #ffffff80;
}
body.light .home > a > button:hover {
  background: white;
}
body.light .struc::-webkit-scrollbar-thumb {
  background: #9788fd;
}
body.light .struc::-webkit-scrollbar{
  background: #ffffff80;
}
/* lightth */