h1 {
  font-size: 36px;
}
.title-box {
  text-align: center;
  color: white;
  background: linear-gradient(to bottom, rgb(80, 50, 255), rgb(115, 0, 255));
  padding-top: 0.5em;
  padding-bottom: 3em;
  border-radius: 25px;
  margin-bottom: 1em 
}
.contents-box {
  background: linear-gradient(to bottom,rgb(250,250,250),rgb(230, 230, 230));
  border-radius: 25px;
  padding-top: 0.5em;
  padding-bottom: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}
.contents {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3em;
}
.contents > div > a {
  text-decoration: none;
  color:rgb(80, 50, 255);
  cursor: pointer;
  transition: 0.5s;
}
.contents > div > a:hover {
  color: rgb(15, 0, 150);
  font-weight: bold; 
  font-size: large;
}

.dft {
  font-size: medium;
  text-align: left;
  margin-top: 0.5em;
  margin-left: 1em;
}

/* indigo block */
.indigo-block {
  overflow-y: auto;
  background: linear-gradient(to bottom, rgb(80, 50, 255), rgb(115, 0, 255));
  padding: 1em;
  border-radius: 25px;
  color: white;
  margin-bottom: 1em;
  transition: 0.5s;
}
.indigo-block::-webkit-scrollbar {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  width: 15px;
  height: 15px;
}
.indigo-block::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.75);
  border-radius: 25px;
  width: 50%;
  height: 15px;
}
/* indigo block */

/* white block */
.white-block {
  overflow-y: auto;
  background: linear-gradient(to bottom,rgb(250,250,250),rgb(230, 230, 230));
  padding: 1em;
  border-radius: 25px;
  color: rgb(80, 50, 255);
  margin-bottom: 1em;
  transition: 0.5s;
}
.white-block::-webkit-scrollbar {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  width: 15px;
  height: 15px;
}
.white-block::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, rgb(80, 50, 255, 0.75), rgb(115, 0, 255, 0.75));
  border-radius: 25px;
  width: 50%;
  height: 15px;
}
/* white block */

.table {
  display: grid;
  gap: 10px;
}
.table > div{
  padding-left: 1em;
  padding-top: 1em;
}
.bb {
  border-bottom: 1px solid white;
}
.rb {
  border-right: 1px solid white;
}
.table-l {
  display: grid;
  grid-template-columns: repeat(5,auto);
  grid-template-rows: auto auto;
  overflow-y: auto;
}
.table-l > div { 
  padding: 1em;
}
.bb-blue {
  border-bottom: solid 1px rgb(80, 50, 255);
}

.indigo-block:hover {
  transform: scale(1.01);
  box-shadow: 10px 10px 10px rgba(15, 0, 150, 0.5);
}

.white-block:hover {  
  transform: scale(1.01);  
  box-shadow: 10px 10px 10px rgba(10, 0, 60, 0.5);
}

.column {
  column-count:2;
  column-gap: 1em;
}

/* view on phone */
@media (max-width: 767px) {
  .title-box, .content-box {
    column-count: 1;
    column-width: auto;
  }
  .column {
    column-count: 1;
    column-width: auto;
  }
}

/* view on ipad */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .title-box, .content-box {
    column-count: 1;
    column-width: auto;
  }
  .column {
    column-count: 1;
    column-width: auto;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .title-box, .content-box {
    column-count: 1;
    column-width: auto;
  }
  .column {
    column-count: 2;
    column-width: auto;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    height: 100%;
  }
  .column > * {
    flex: 1;
    max-width: 50%;
    box-sizing: border-box;
  }

  .content-box {
    overflow-y: auto;
  }
}